@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
}

/* streaming animation */
.paragraph-node:last-child .last-char-animation {
  animation: message-in 0.5s ease-in;
}

@keyframes message-in {
  from { opacity: 0; }
  to { opacity: 1; }
}